<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen={true}>
  <form [formGroup]="loginForm">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label position="stacked">Patient ID</ion-label>
        <ion-input required type="number" class="form-control" id="id" formControlName="id"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Password input</ion-label>
        <ion-input type="password" class="form-control" id="password" formControlName="password"></ion-input>
      </ion-item>
      <ion-button type="submit" (click)="onSubmit()">
        <ion-label>Log in</ion-label>
      </ion-button>
    </ion-list>
  </form>
  
</ion-content>
