<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inbox
    </ion-title>
    <ion-button (click)="logout()">
      <ion-label>Log out</ion-label>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        Reminder List
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-list>
    <ion-item *ngFor="let m of reminders" class="reminder">
      <ion-row class="ion-align-items-center">
				<ion-col (click)="openDetails(m.reminderid)">
					<ion-label
						color="dark"
						class="ion-text-wrap ion-text-capitalize"
						[style.font-weight]="m.isfinished==0 ? 'bold' : ''"
					>
						<p class="excerpt">
							{{ (m.detail.length>50)? (m.detail | slice:0:50)+'...':(m.detail) }}
						</p>
					</ion-label>
				</ion-col>
			</ion-row>
    </ion-item>
  </ion-list>

</ion-content>